<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Учетная запись</a></li>
  <li><a href="#!">Лицензия</a></li>
  <li><a href="#!">Тема</a></li>
  <li class="divider"></li>
  <li><a href="/auth/logout">Выйти</a></li>
</ul>
<nav class ="z-depth-0">
    <div class="nav-wrapper white  ">
      <a href="#!" class="brand-logo">Smartops</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons menu-phone">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon " for="search"><i class="material-icons black-text">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form></li>
       
        {{#if isAuth}}
        {{#if isAdminStart}}
          <li><a href="/">Главная</a></li>
           <li><a href="/auth/logout">Выйти</a></li>
        {{else}}
          {{#if isAdmin}}
              <li class="active"><a href="/admin">Сотрудники</a></li>
          {{else}}
                  <li><a href="/admin">Сотрудники</a></li>
          {{/if}}
          {{#if isTests}}
              <li class="active"><a href="/admin/tests">Тесты</a></li>
          {{else}}
                  <li><a href="/admin/tests">Тесты</a></li>
          {{/if}}
          
          {{#if isDocs}}
              <li class="active"><a href="/docs">Помощь</a></li>
          {{else}}
              <li><a href="/docs">Помощь</a></li>
          {{/if}}
                <li><a href=""><i class="material-icons">notifications_none</i></a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">settings</i></a></li>
        {{/if}}
          
          {{else}}
         {{#if isLogin}}
        <li><a href="/">Главная</a></li>
        {{else}}
         <li><a href="/auth/login" class="waves-light btn purple white-text">Войти</a></li>
        {{/if}}
        {{/if}}
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
     {{#if isAuth}}
        {{#if isAdminStart}}
          <li><a href="/">Главная</a></li>
           <li><a href="/auth/logout">Выйти</a></li>
        {{else}}
          
          {{#if isAdmin}}
              <li class="active"><a href="/admin">Сотрудники</a></li>
          {{else}}
                  <li><a href="/admin">Сотрудники</a></li>
          {{/if}}
          {{#if isTests}}
              <li class="active"><a href="/admin/tests">Тесты</a></li>
          {{else}}
                  <li><a href="/admin/tests">Тесты</a></li>
          {{/if}}
          
          {{#if isDocs}}
              <li class="active"><a href="/docs">Помощь</a></li>
          {{else}}
              <li><a href="/docs">Помощь</a></li>
          {{/if}}
            
        {{/if}}
          
          {{else}}
         {{#if isLogin}}
        <li><a href="/">Главная</a></li>
        {{else}}
         <li><a href="/auth/login" class="waves-light btn purple white-text">Войти</a></li>
        {{/if}}
        {{/if}}
  </ul>